@font-face{
    font-family: 'Dignitary Grandeur', serif;
    src: url(../assets/DignitaryGrandeur.ttf);

    font-family: 'TypeMachine';
    src: url(../assets/Type\ Machine.ttf);
}

:root{
    --Bello-Black: #1f2428;
    --Bello-Cream: #fff2c7;
    --Bello-Red: #D72638;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

body {
    line-height: 1.5;
    letter-spacing: .08rem;
    background-color: var(--Bello-Black);
    color: var(--Bello-Cream);
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

li{
    list-style: none;
}

a{
text-decoration: none;
color: var(--Bello-Cream);
}

#progress {
    position: fixed;
    top: 9.9vh;
    left: 0;
    width: 0%;
    background: var(--Bello-Red);
    height: .2em;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#proyectos, #historia, #habilidades, #lab{
    margin-bottom: 500px;
}

#proyectos, #historia, #lab, #contacto{
    animation: reveal ease-in both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        transform: scale(0.5);
        filter: blur(.5);
    }

    to {
        opacity: 1;
        translate: 0 0;
        transform: scale(1);
        filter: blur(0);
    }
}


.active{
    display: block;
}

.unactive{
    display: none;
}

#logo{
    aspect-ratio: 1/1;
    width: 35px;
}

#bars{
    font-size: 1.25rem;
}

#topbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    transform: translateY(-1px);


    background: #040505;
    background: linear-gradient(180deg,rgb(21, 25, 25) 0%, rgba(31, 36, 40, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--Bello-Cream);
    padding: 0 2rem;
}



ul.disactive{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRightReverse 0.5s ease-out forwards;
}

ul.active{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRight 0.5s ease-out;
}

@keyframes fromRight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fromRightReverse {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
        display: none;
    }
}

#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 15rem;
    transform: translateY(-1px);
    z-index: -1;

    border: var(--Bello-Cream) 5px solid;
    border-top: none;
    border-radius: 0px 0px 100rem 100rem;

    overflow: hidden;
    animation: fromTop 0.5s ease-out;
    
    img{
        transform: translateY(50px);
        width: 100%;
        margin: auto;
    }

}

@keyframes fromTop {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

h1{
    font-family: 'Dignitary Grandeur', serif;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5rem;
}

h2{
    text-align: center;
    margin: 15px auto;
}

main h2{
    font-family: 'TypeMachine', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    width: fit-content;
    padding: .35rem;
    border-radius: 25px;
    background-color: var(--Bello-Cream);
    color: var(--Bello-Red);
}

main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 15px auto;
    width: 65%;

    li{
        margin-top: 20px;
        width: 3.5rem;
        height: 3.5rem;
        padding: .35rem;
        border-radius: 5px 5px 25px 25px;
        border: var(--Bello-Cream) 2px solid;
        background: #D72638;
        background: radial-gradient(circle,rgba(215, 38, 56, 1) 40%, rgba(168, 34, 47, 1) 100%);
        color: var(--Bello-Cream);
        font-size: .9rem;
        transition: all 0.15s ease-out;

        animation: unroll 0.5s ease-out;

        &:hover{
            filter: brightness(1.1);
        }
    }
}

.link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-out;
    &:hover{
            transform: scale(1.1);
        }
    
    i{
        transform: scale(150%);
    }
}

@keyframes unroll{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}

.section-header{
    width: fit-content;
    margin: 70px auto 20px auto;
    padding: .35rem;
    font-family: 'TypeMachine', sans-serif;
}

.card{
    width: 80vw;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.card picture{
    width: 100%;
    max-height: 40%;
    overflow: hidden;

    source, img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        transform: scale(1.5);

        transition: all 0.15s ease-out;

        &:hover{
            transform: scale(1);
        }
    }
}

.card-content{
    width: 100%;
    height: 60%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3{
        font-family: 'TypeMachine', sans-serif;
        font-size: 1.2rem;
        color: var(--Bello-Red);
    }

    p{
        font-family: 'Dignitary Grandeur', serif;
        font-size: .9rem;
        color: var(--Bello-Cream);
    }
}

.glass{
    box-shadow:
    inset 10px 10px 20px rgba(153, 192, 255, 0.1),
    inset 2px 2px 5px rgba(195, 218, 255, 0.2),
    inset -10px -10px 20px rgba(229, 253, 190, 0.1),
    inset -2px -2px 30px rgba(247, 255, 226, 0.2);

    backdrop-filter: blur(20px);
}

#historia{
    height: 500px;
}

#tarjetas{
    position: relative;
    height: 100%;
    width: 17rem;
}

.tarjeta{
    position: absolute;
    inset: 0;
    aspect-ratio: 1/1.5;
    margin: auto;
    display: flex;
    border-radius: 25px;
    flex-direction: column;

    background-color: var(--Bello-Red); 
    outline: var(--Bello-Cream) 5px solid;
}

.last-card{
    transform: translateX(20px);
    z-index: -2;
}

.middle-card{
    transform: translateX(10px);
    z-index: -1;
}

.top-card{
    z-index: 0;
}

.move-back{
    animation: moveBack 1s ease-out forwards;
}

@keyframes moveBack {
    0%{
        transform: translateX(0);
        z-index: 0;
    }

    50%{
        z-index: 0;
        transform: translateX(-100%);
    }
    to{
        z-index: -3;
        transform: translateX(30px);
    }
}

#habilidades h2{
    font-size: 0px;
}

.carousel{
    margin: 50px auto;
    margin-top: 0px;
    width: 100%;
    display: flex;
    overflow-x: auto;
        background-color: hsla(from var(--Bello-Red) h s l / 45%);
}

#softwares ::-webkit-scrollbar {
    display: none ;
}

#personal ::-webkit-scrollbar {
    display: none ;
}

.mover{
    display: flex;
    overflow-x: auto;

}

.group{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.skill{
        padding: 10px;
    text-align: center;
    align-items: center;
}

#softwares .mover{
    .group{
        animation: spin 10s linear infinite;
    }

    &:hover{
        .group{
            animation-play-state: paused;
        }
    }
}

#personal .mover{
    .group{
        animation: spin 15s linear infinite reverse;
    }

    &:hover{
        .group{
            animation-play-state: paused;
        }
    }
}

@keyframes spin{
    from{translate: 0;}
    from{translate: -100%;}
}

.button{
    cursor: pointer;
    min-width: fit-content;
    max-width: 120px;
    overflow: hidden;

    font-family: 'Type Machine';
    color: var(--Bello-Cream);

    padding: 0.1rem 1rem;
    border-radius: 10px;

    background-color: hsla(from var(--Bello-Red) h s calc(l + 5));

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
    inset 0px 0px 20px 2px hsla(from var(--Bello-Black) h s calc(l - 5) / 55%),
    inset 0px 0px 20px 8px var(--Bello-Black); 

    position: relative;

    transition: all 0.25s;

    a{
        padding: 0.4rem 1rem;
        letter-spacing: 2px;
        position: relative;
        z-index: 2;
        transition: letter-spacing 0.1s;
    }

}
.button::before{
    content: '';
    position: absolute;
    height: 110%;
    width: 0%;
    right: 0;
    z-index: 1;

    background-color: hsla(from var(--Bello-Cream) h s calc(l + 5));
    
    border-radius: 10px;

    box-shadow:
    /* inset 0px 0px 20px 2px hsla(from var(--main-backColor) h s calc(l - 5) / 55%), */
    inset 0px 0px 20px 8px var(--Bello-Black); 

    transition: all 0.5s;
}
.button:hover{

    &::before{
        right: auto;
        left: 0;
        width: 110%;
    }
}
.button:active{
    transform: scale(0.95);

    a{
        letter-spacing: 0px;
    }
}

.shine {

    transition: background-color 0.3s;
    transition: transform 0.2s;

    position: relative;
    overflow: hidden;


    &:hover{
        ::after {
            content: '';
            position: absolute;
            top: 0;
            left: -50px;
            transform: rotate(25deg) scaleY(200%);
            filter: opacity(0);
            display: block;
            height: 100%;
            width: 20px;
            background-color: var(--Bello-Cream);
            mix-blend-mode: luminosity;
            animation: shine 5s ease-out infinite;
        }
    }
}

@keyframes shine{
    0%, 100% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(.5) blur(10px);
    }

    40% {
        left: 150%;
        filter: opacity(.5);
    }

    41%{
        filter: opacity(0);
    }

    100%{
        left: -50px;
    }
}