@font-face{
    font-family: DignitaryGrandeur;
    src: url(../assets/DignitaryGrandeur-7OEJP.ttf);

    font-family: TypeMachine;
    src: url(../assets/Type\ Machine.ttf);
}

:root{
    --Bello-Black: #1f2428;
    --Bello-Cream: #fff2c7;
    --Bello-Red: #D72638;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

body {
    font-family: TypeMachine, sans-serif;
    line-height: 1.5;
    background-color: var(--Bello-Black);
    color: var(--Bello-Cream);
    height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

li{
    list-style: none;
}

a{
text-decoration: none;
color: var(--Bello-Cream);
}

.active{
    display: block;
}

.unactive{
    display: none;
}

#logo{
    aspect-ratio: 1/1;
    width: 35px;
}

#bars{
    font-size: 1.25rem;
}

#topbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;

    background: #040505;
    background: linear-gradient(180deg,rgba(4, 5, 5, 1) 0%, rgba(31, 36, 40, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--Bello-Cream);
    padding: 0 2rem;
}



ul.disactive{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRightReverse 0.5s ease-out forwards;
}

ul.active{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRight 0.5s ease-out;
}

@keyframes fromRight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fromRightReverse {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
        display: none;
    }
}

#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
    transform: translateY(-1px);
    z-index: -1;

    border: var(--Bello-Cream) 5px solid;
    border-top: none;
    border-radius: 0px 0px 50% 50%;

    overflow: hidden;
    animation: fromTop 0.5s ease-out;
    
    img{
        width: 100%;
        margin: auto;
    }

}

@keyframes fromTop {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}