@font-face{
    font-family: 'Dignitary Grandeur', serif;
    src: url(../assets/DignitaryGrandeur.ttf);

    font-family: 'TypeMachine';
    src: url(../assets/Type\ Machine.ttf);
}

:root{
    --Bello-Black: #1f2428;
    --Bello-Cream: #fff2c7;
    --Bello-Red: #D72638;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

body {
    line-height: 1.5;
    background-color: var(--Bello-Black);
    color: var(--Bello-Cream);
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

li{
    list-style: none;
}

a{
text-decoration: none;
color: var(--Bello-Cream);
}

.active{
    display: block;
}

.unactive{
    display: none;
}

#logo{
    aspect-ratio: 1/1;
    width: 35px;
}

#bars{
    font-size: 1.25rem;
}

#topbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    transform: translateY(-1px);


    background: #040505;
    background: linear-gradient(180deg,rgb(21, 25, 25) 0%, rgba(31, 36, 40, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--Bello-Cream);
    padding: 0 2rem;
}



ul.disactive{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRightReverse 0.5s ease-out forwards;
}

ul.active{
    background-color: var(--Bello-Red);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    animation: fromRight 0.5s ease-out;
}

@keyframes fromRight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fromRightReverse {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
        display: none;
    }
}

#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 15rem;
    transform: translateY(-1px);
    z-index: -1;

    border: var(--Bello-Cream) 5px solid;
    border-top: none;
    border-radius: 0px 0px 100rem 100rem;

    overflow: hidden;
    animation: fromTop 0.5s ease-out;
    
    img{
        transform: translateY(50px);
        width: 100%;
        margin: auto;
    }

}

@keyframes fromTop {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

h1{
    font-family: 'Dignitary Grandeur', serif;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5rem;
}

h2{
    text-align: center;
    margin: 15px auto;
}

main h2{
    font-family: 'TypeMachine', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    width: fit-content;
    padding: .35rem;
    border-radius: 25px;
    background-color: var(--Bello-Cream);
    color: var(--Bello-Red);
}

main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 15px auto;
    width: 65%;

    li{
        margin-top: 20px;
        width: 3.5rem;
        height: 3.5rem;
        padding: .35rem;
        border-radius: 5px 5px 25px 25px;
        border: var(--Bello-Cream) 2px solid;
        background: #D72638;
        background: radial-gradient(circle,rgba(215, 38, 56, 1) 40%, rgba(168, 34, 47, 1) 100%);
        color: var(--Bello-Cream);
        font-size: .9rem;
    }
}

.link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    i{
        transform: scale(150%);
    }
}

.section-header{
    width: fit-content;
    margin: 70px auto 20px auto;
    padding: .35rem;
    font-family: 'TypeMachine', sans-serif;
}

.card{
    width: 80vw;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.card picture{
    width: 100%;
    max-height: 40%;
    overflow: hidden;

    source, img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        transform: scale(1.5);

        transition: all 0.15s ease-out;

        &:hover{
            transform: scale(1);
        }
    }
}

.card-content{
    width: 100%;
    height: 60%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3{
        font-family: 'TypeMachine', sans-serif;
        font-size: 1.2rem;
        color: var(--Bello-Red);
    }

    p{
        font-family: 'Dignitary Grandeur', serif;
        font-size: .9rem;
        color: var(--Bello-Cream);
    }
}

.glass{
    box-shadow:
    inset 10px 10px 20px rgba(153, 192, 255, 0.1),
    inset 2px 2px 5px rgba(195, 218, 255, 0.2),
    inset -10px -10px 20px rgba(229, 253, 190, 0.1),
    inset -2px -2px 30px rgba(247, 255, 226, 0.2);

    backdrop-filter: blur(20px);
}

#historia{
    height: 500px;
}

#tarjetas{
    position: relative;
    height: 100%;
    width: 17rem;
}

#tarjetas .tarjeta:nth-child(2){
    transform: translateX(10px);
    z-index: -1;
}

#tarjetas .tarjeta:nth-child(3){
    transform: translateX(20px);
    z-index: -2;
}

.tarjeta{
    position: absolute;
    inset: 0;
    aspect-ratio: 1/1.5;
    margin: auto;
    display: flex;
    border-radius: 25px;
    flex-direction: column;

    background-color: var(--Bello-Red);
    outline: var(--Bello-Cream) 5px solid;
}